Flask==3.0.3
flask-socketio==5.3.6
eventlet==0.33.3

pymongo==4.7.2
dnspython==2.6.1

python-dotenv==1.0.1

Werkzeug==3.0.3
MarkupSafe==2.1.5

authlib==1.3.0
requests==2.31.0
urllib3==2.2.1
certifi==2024.2.2
idna==3.7
charset-normalizer==3.3.2
httpx==0.27.0

cloudinary==1.39.1

gunicorn==22.0.0
